$primary-color = #83c355
$text-color = #40267b

@import 'general/reset.styl'
@import 'node_modules/react-rangeslider/lib/index.css'
@import 'general/app.styl'
@import 'general/calculator.styl'
@import 'general/rangeslider.styl'