.container {
  width: 360px;
  margin 0 auto;
  padding-top: 27px;
}
.top_text {
  color: $text-color;
  font-size: 22px;
  font-weight: bold;
  padding-right: 10px;
}
.line {
  display: flex;
  margin: 10px 0 30px;
  .column-1 {
    flex: 165px 0 0;
    flex-shrink: 0;
  }
  .text-big {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
  }
  .text-small {
    display: block;
    font-weight: normal;
    color: #b9b9b9;
    font-size: 14px;
    line-height: 1;
  }
}
.final-count {
  margin: 10px 0 30px;
}

.button_accented {
  background: #ffe05a;
  color: $text-color;
  width: 100%;
  display: block;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}