*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  border: 0;
  font-family: inherit;
  outline: none;
}

img {
  display: block;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  background-color: transparent;
  padding: 0;
  color: inherit;

  &:not([disabled]) {
    cursor: pointer;
  }
}

p {
  margin: 0;
}